{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}vlum{% endblock %}</title>
    <link href="{% static 'movies/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'movies/css/carousel.css' %}" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <a href="{% url 'index' %}" class="logo-link">
            <img src="{% static 'movies/img/logo.png' %}" alt="vlum logo" class="logo-img">
            <span class="logo-text">vlum</span>
        </a>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{% static 'movies/js/main.js' %}"></script>
</body>
</html>
