{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Detalles{% endblock %}

{% block content %}
    <h2>{{ movie.title }}</h2>

    <p><strong>Director:</strong> {{ movie.director|default:"Desconocido" }}</p>
    <p><strong>Género:</strong> {{ movie.genre }}</p>
    <p><strong>Año de Publicación:</strong> {{ movie.release_year }}</p>
    <p><strong>Sinopsis:</strong> {{ movie.synopsis }}</p>

    {% if movie.director %}
        <p class="action-buttons">
            <a href="{% url 'director_detail' movie.director.id %}" class="btn">Ver Detalles del Director</a>
        </p>
    {% endif %}

    <br>
    <a href="{% url 'index' %}" class="btn-back">← Volver al inicio</a>
{% endblock %}
